<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style.css') }}">{% endblock %}
</head>

<body>
<div class="sidenav">

    <a href="{{ path('homepage') }}">Homepage</a>
    <a href="{{ path('aboutMe') }}">About Becode</a>

</div>
<div class="main">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    {% block footer %}
        &copy; Copyright 2020 Becode.
    {% endblock %}
</footer>


{% block javascripts %}{% endblock %}
</body>
</html>
